.App {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 18px;
  line-height: 22px;
}

.app-logo {
  height: 36px;
  position: absolute;
  left: 12px;
  top: 11px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .app-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}
body{
  background-color: #3f3f59;
}
.app-header {
  padding: 19px 0;
  background-color:#f3fcfe;
  position: relative;
  color: white;
  font-size: calc(10px + 2vmin);
  color: #242b40;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.app-footer{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #242b40;
  color: white;
  margin-top: 12px;
  padding: 35px 0;
  font-size: 22px;
}
.main{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sidebar{
  flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 380px;
    background-color: #d52727;
    color: white;
}
.sidebar img{
  width: 100%;
  border-bottom: 12px solid #3f3f59;
}
.product-info{
  padding: 25px 15px ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Flex items*/
.list {
 
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-left: 12px;
  padding: 12px;

}
.list-item {
	display: flex; 
  width: 100%;
  margin: 10px 0;
  background-color:#f3fcfe;
  border: 1px solid gainsboro;
  border-radius: 13px;

}
.list-item:nth-of-type(odd){
  margin-left: 100px;
}
.list-item:nth-of-type(even){
  margin-right: 50px;
}
/* @media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
} */
.list-content {
  display: flex;
  flex-direction: column;
  padding: 4px 10px 4px 60px;
  width: 100%;
  text-align: left;
  background: url('../src/assets/img/avatar.png');
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 15px center;
}

.list-content p {
  flex: 1 0 auto;
  margin:0;
  font-size: 14px;
line-height: 18px;
font-weight: 100;
}
.list-content h2{
  margin:0;
  font-size: 14px;
  color:#3f3f59;
}
button{
  background-color: #f3fcfe;
  border: 1px solid gainsboro;
  border-radius: 8px;
  padding: 6px 12px ;
  color:#3f3f59;
  font-weight:bold;
}