.App {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 18px;
  line-height: 22px;
}

.app-logo {
  height: 60px;
  position: absolute;
  left: 25px;
  top:25px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .app-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.app-header {
  background-color:white;
  min-height: 130px;
 position: relative;
 
  font-size: calc(10px + 2vmin);
  color: #000;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Flex items*/
.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
	display: flex; 
 
	width: 100%;
}
@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
.list-content {
  margin: 1em;
	background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 1em;
	width: 100%;
}
.list-content p {
	flex: 1 0 auto;
}
